@font-face {
  font-family: "maison";
  font-weight: normal;
  font-style: normal;

  src: url("/fonts/MaisonNeue-Book.woff2") format("woff2"),
    url("/fonts/MaisonNeue-Book.woff") format("woff");
}

@font-face {
  font-family: "maison";
  font-weight: bold;
  font-style: normal;

  src: url("/fonts/MaisonNeue-Medium.woff2") format("woff2"),
    url("/fonts/MaisonNeue-Medium.woff") format("woff");
}

html,
body {
  font-family: "maison", serif;
}
