.container {
  min-width: 100vw;
  min-height: 100vh;

  transition: background-color 0.3s ease;
}

.header {
  position: fixed;
  z-index: 1;
  top: 1.6rem;
  left: 1.6rem;

  max-width: 29.6rem;

  letter-spacing: 0.02rem;

  font-size: 1.4rem;
  line-height: 2rem;

  // left margin + header width + phone width
  @media (max-width: (1.6rem + 29.6rem + 37.5rem)) {
    display: none;
  }

  &__preamble {
    color: rgba(255, 255, 255, 1);
  }

  &__mail {
    text-decoration: none;

    color: rgba(255, 255, 255, 0.75);
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);

    &:hover {
      border-bottom-color: rgba(255, 255, 255, 0.75);
    }
  }
}

.cornerLogo {
  position: fixed;
  bottom: 1.6rem;
  left: 1.6rem;

  width: 60px;
  height: 60px;
}

.phone {
  position: fixed;
  top: 0;
  left: 0;

  overflow: hidden;

  background-color: #000;

  @media (min-width: 375px) {
    top: 50%;
    left: 50%;

    width: 37.5rem;
    height: 66.7rem;
    margin-top: -(66.7rem / 2); /* Negative half of height. */
    margin-left: -(37.5rem / 2); /* Negative half of width. */

    border-radius: 1rem;
  }

  &__inner {
    height: 100%;
    margin: 1.5rem;
    padding: 1.5rem;

    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }
}

.overlay {
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-color: #000;
}
