.container {
  position: relative;

  margin-right: -3rem;
  margin-left: -3rem;
  padding: 1.5rem;

  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  background-color: #fff;

  p {
    color: #000;

    font-size: 1.6rem;
  }
}
